<!-- This is the thankyou page which will render when user submit the feedback form  -->

<%- include("partials/header"); -%>
<body>
    <div class="container center">
   
    <div class="Box text-center">
        
        <h1 class="color display-2 fw-bold">Thank you for your valuable feedback!! 💜✨</h1>
       
    </div>


</div>
<%- include("partials/footer"); -%>
