<%- include('partials/header') %>
<body>
  
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-2 fw-bold color Welcome-header">Welcome to Bookie</h1>
    
    <div class="box d-flex welcome-box mt-3">
      <img src="/image/6870525-removebg-preview.png" alt="" class="book-img mt-1 me-5">
    <div>
      <div class="display-6 text-justify color p-2">Keeping a journal is an ideal environment for developing self-awareness and self-expression. It is a perfect place for you to think, feel, discover, expand, remember and dream. </div>
      <p class="lead fw-bold fs-3 ps-2">So what are you waiting for?🤔 Join Bookie💜 and begin your journaling journey.🚀</p>
      <hr class="thick">

      <div class="d-flex mb-3">
        <a class="btn btn-lg btn-outline-dark mx-2" href="/user/singup" role="button">Singup</a>
        <a class="btn btn-lg bg-filled mx-2" href="/user/login" role="button">Login</a>
      </div>
    </div>
    </div>
    

</div>
<%- include('partials/footer') %>
